<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>List</title>
    <link rel="stylesheet" href="{% static 'lib/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'lib/sweetalert2.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/listStyle.css' %}" type="text/css" />

    <script src="{% static 'lib/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/sweetalert2.all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/listScript.js' %}" type="text/javascript"></script>
</head>
<body>
{% block content %}

    <h1>Student List</h1>
    <table class="display myTable" id="customTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>DOB</th>
                <th>ID</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for list in details_of_list %}
                <tr>
                    <td>{{list.user_name}}</td>
                    <td>{{list.user_age}}</td>
                    <td>{{list.user_dob|date:" Y-m-d"}}</td>
                    <td>{{list.user_id}}</td>
                    <td>{{list.user_city}}</td>
                    <td>{{list.user_country}}</td>
                    <td><a href="/update/{{list.id}}" class="link_btn update_link">Update</a></td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>DOB</th>
                <th>ID</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>

    <a href="{% url 'Details' %}" class="add_link"><button type="button" class="addNew_btn">Add New</button></a>

{% endblock %}

</body>
</html>